<section >

    <h1>Banners</h1>

    <form className="form-inline">
        <a href="#/banners-edit">
            <button className="btn btn-primary">Add Banner</button>
        </a>
    </form>

    <form className="ng-pristine ng-valid">
        <div className="form-group">
            <div className="input-group">
                <div className="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" className="form-control" placeholder="Search in banner">
            </div>
        </div>
    </form>


    <table className="table table-bordered table-striped">
        <thead>
        <tr>

            <th><span className="glyphicon glyphicon-picture" aria-hidden="true"></span>
                Banner image</th>
            <th><span className="glyphicon glyphicon-tags" aria-hidden="true"></span>
                <a href="/banners">
                    <b>Package Name</b>
                    <span className="fa fa-caret-down ng-hide"></span>
                    <span className="fa fa-caret-up ng-hide"></span>
                </a>
            </th>
            <th><span className="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                <b>Actions</b></th>
        </tr>


        </thead>
        <tbody>
    <tr current-page="currentPage">

            <td className="col-md-1 text-center">
                <a ng-click="openLightboxModal(banner.$id)">
                    <img ng-src="https://d1pqyjtezxhbh0.cloudfront.net/banners/test_banner.png" class="img-thumbnail" width="150" src="https://d1pqyjtezxhbh0.cloudfront.net/banners/test_banner.png">
                </a>
            </td>
            <td className="col-md-1 text-center ng-binding">com.boost.testBanner</td>
            <td className="col-md-1 text-center">

                <a href="#/banners-edit/-KBw73nYZhyJfbtnHqWt">
                    <button className="btn btn-info btn-xs">
                        <span className="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    </button>
                </a>

                <button className="btn btn-danger btn-xs">
                    <span className="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>




            </td>


        </tr><tr current-page="currentPage">

            <td className="col-md-1 text-center">
                <a ng-click="openLightboxModal(banner.$id)">
                    <img ng-src="https://d1pqyjtezxhbh0.cloudfront.net/banners/test_banner.png" className="img-thumbnail" width="150" src="https://d1pqyjtezxhbh0.cloudfront.net/banners/test_banner.png">
                </a>
            </td>
            <td className="col-md-1 text-center ng-binding">google</td>
            <td className="col-md-1 text-center">

                <a href="#/banners-edit/sdfsgdf">
                    <button className="btn btn-info btn-xs">
                        <span className="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    </button>
                </a>

                <button className="btn btn-danger btn-xs" ng-click="bannerDelete(banner);">
                    <span className="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>




            </td>


        </tr>
        </tbody><tbody>
    </tbody></table>

    <div className="text-center">

    </div>



</section>